{% extends 'base.twig' %}

{% block title %}
	Inscription - Steamish v3
{% endblock %}

{% block body %}
	<h1>Inscription</h1>

	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				{{ form_errors(registrationForm) }}
				{{ form_start(registrationForm) }}

				{{ form_row(registrationForm.name) }}
				{{ form_row(registrationForm.nickname) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn btn-primary my-4">Register</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>

{% endblock %}
