<nav class="navbar navbar-expand-lg navbar-dark bg-gradient p-3">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="{{ path('app_home') }}">
            <img src="https://store.fastly.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" alt="logo steam" height="50px">
        </a>
        <div class="mx-auto d-flex">
            <div class="dropdown" data-bs-toggle="dropdown">
                <div class="input-group">
                    <input id="search-input"  name="search-bar" class="form-control">
                    <button class="btn btn-secondary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>

                <div id="search-dropdown" class="dropdown-menu w-100">
                    <h2 class="dropdown-header">Recherchez un jeu, éditeur...</h2>
                </div>
            </div>
        </div>
        <a class="ms-5 position-relative text-white" href="{{ path('app_cart') }}" title="Panier">
            <i class="fa fa-cart-shopping fa-2x"></i>
            {% set items = get_cart_quantity() %}
            <div class="cart-quantity">
                {{ items }}
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if app.user is null %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">
                            Se connecter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">
                            S'inscrire
                        </a>
                    </li>
                {% elseif app.user and is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('app_admin') }}>Admin</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user_show', {'name': app.user.name}) }}">
                            Mon profil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_category_new') }}">
                            Admin category
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            Se déconnecter
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
