<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="{{ path('app_home') }}">
            Home
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if app.user is null %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">
                            Register
                        </a>
                    </li>
                {% elseif app.user and is_granted("ROLE_ADMIN") %}
                    <li>
                        <a href={{ path('app_admin') }}>Admin</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user_index', {'name': app.user.name}) }}">
                            Mon profil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_category_new') }}">
                            Admin category
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            Se déconnecter
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
