{% extends 'front/base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="container-img big">
                    <img class="img-fluid" src="{{ game.thumbnailCover }}" alt="{{ game.name }}">
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">{{ game.name }}</h1>
                <p>{{ game.price }}€</p>
                <p> Genre(s) du jeu :
                {% for category in categories %}
                    {{ category.name }}
                {% endfor %}
                </p>

                <button class="btn btn-outline-primary"
                        title="Ajouter ce jeu à votre liste de souhait !"
                        data-wishlist="{{ path('app_handle_wishlist', {'id': game.id}) }}"
                >
                    {% if app.user and app.user.wantedGames.contains(game) %}
                        <i class="fa-solid fa-heart text-danger"></i>
                    {% else %}
                        <i class="fa-regular fa-heart"></i>
                    {% endif %}
                </button>
                <button class="btn btn-outline-primary"
                        title="Ajouter ce jeu au panier"
                        data-add-to-cart="{{ game.id }}"
                >
                    <i class="fa-solid fa-cart-plus"></i>
                </button>
            </div>
        </div>

        {% include 'front/partials/common/_review_loop.html.twig' %}

        <div class="col-lg-6 col-md-12 mx-auto mb-5">
            {{ form_start(form) }}
                <div class="text-danger">{{ form_errors(form) }}</div>
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
