<nav class="navbar bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}">
			<img src="https://symfony.com/favicons/favicon.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
			Steamish v3
		</a>

		<div>
			<a href="{{path('app_publisher')}}">Les éditeurs</a>
		</div>

		{% if app.user.name is defined %}
			<div
				class="d-flex flex-column">
				{# <a href="{{path('app_admin')}}">Administration</a> #}
				<span>
					Bonjour
					<a href="{{path('app_show_user', {id: app.user.id})}}">{{ app.user.nickname }}</a>
				</span>
				<a href="{{ path('app_logout') }}">Se deconnecter</a>
			</div>
		{% else %}
			<div>
				<a href="{{path('app_register')}}">S'inscrire</a>
				ou
				<a href="{{path('app_login')}}">Se connecter</a>
			</div>
		{% endif %}
	</div>
</nav>
