{% extends 'admin/base-admin.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content %}

    <h1 class="my-3">
        {{ ('game.form.title.' ~ mode)|trans({'%gameName%': game.name}) }}
    </h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name)}}
        {{ form_row(form.price)}}
        {{ form_row(form.description)}}
        {{ form_row(form.publishedAt)}}
        {% if game.id is null %}
            <a class="btn btn-secondary text-decoration-none" href="{{ path('app_admin_game_new', {'addPublisher': addPublisher }) }}">
                {% if addPublisher %}
                    {{ 'game.form.button.new_publisher'|trans }}
                {% else %}
                    {{ 'game.form.button.select_publisher'|trans }}
                {% endif %}
            </a>
        {% endif %}
    {{ form_end(form) }}

{% endblock %}
